@import '../../veriables.scss';


.icon {
  display: inline-block;
  margin: 40px 10px;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light-black;
  
  
}

.spin {
  &:hover {
    .iconInner {
      animation: spin1 2s infinite linear;
      top: 25%;
      left: 25%;
    }
  }
}

.jump{
  &:hover {
    .iconInner {
      animation: jump1 .5s infinite alternate;
      top: 25%;
      left: 25%;
    }
  }
}

.shake{
  &:hover {
    .iconInner {
      animation: shake1 infinite 1.5s cubic-bezier(.36,.07,.19,.97) both;
      top: 25%;
      left: 25%;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}


.iconInner {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.linkedin {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.02 512.02' style='enable-background:new 0 0 512.02 512.02;' xml:space='preserve'%3E%3Cg transform='translate(0 -1)'%3E%3Cpath style='fill:%23007AAA;' d='M61.813,5.424c33.545,0,61.793,28.248,61.793,61.793c0,35.31-30.014,62.676-61.793,61.793 C29.151,129.893,0.02,102.527,0.02,67.217C-0.863,32.789,27.386,5.424,61.813,5.424'/%3E%3Cpath style='fill:%23007AAA;' d='M96.241,508.596H25.62c-9.71,0-17.655-7.945-17.655-17.655V181.976 c0-9.71,7.062-17.655,16.772-17.655h71.503c9.71,0,17.655,7.945,17.655,17.655v309.848 C113.896,500.651,105.951,508.596,96.241,508.596'/%3E%3Cpath style='fill:%23007AAA;' d='M511.137,272.017c0-65.324-48.552-116.524-113.876-116.524h-18.538 c-35.31,0-69.738,16.772-88.276,44.138c-6.179,6.179-8.828,8.828-8.828,8.828v-35.31c0-3.531-5.297-8.828-8.828-8.828h-88.276 c-3.531,0-8.828,3.531-8.828,7.945v329.269c0,3.531,5.297,7.062,8.828,7.062h97.103c3.531,0,8.828-3.531,8.828-7.062V310.858 c0-32.662,24.717-60.028,57.379-60.91c16.772,0,31.779,6.179,43.255,17.655c10.593,10.593,15.007,25.6,15.007,42.372v189.793 c0,3.531,5.297,8.828,8.828,8.828h88.276c3.531,0,8.828-5.297,8.828-8.828V272.017H511.137z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.dribble {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve' width='512' height='512'%3E%3Cg%3E%3Cpath style='fill:%23FF7CB9;' d='M415,56.8c1.326,1.053,2.576,2.25,3.891,3.334l0.009-0.035C417.7,58.9,416.499,57.7,415,56.8z'/%3E%3Cpath style='fill:%23FA5E97;' d='M512,261.4c-0.3,10.499-1.199,20.7-2.701,30.899l-74.2,76.501l-75.298,120 c-9.3,4.199-19.2,8.099-29.401,11.1L256,429.699l-16.199-15.3l-115.801,59.7C113.2,467.5,102.7,460.3,93.1,452.199L64.6,316.3 L0.901,232.299C2.1,222.1,3.6,212.199,5.7,202.299L112.899,128.5l22.8-97.2c9.3-5.101,19.2-9.6,29.101-13.2L256,45.7l36,11.1 l126.899,3.3c8.699,7.2,17.401,15,24.901,23.701l-1.201,107.399L512,261.4z'/%3E%3Cpath style='fill:%23D94F88;' d='M512,261.4c-0.3,10.499-1.199,20.7-2.701,30.899l-74.2,76.501l-75.298,120 c-9.3,4.199-19.2,8.099-29.401,11.1L256,429.699v-384l36,11.1l126.899,3.3c8.699,7.2,17.401,15,24.901,23.701l-1.201,107.399 L512,261.4z'/%3E%3Cpath style='fill:%23FF7CB9;' d='M176.201,197.8c24.598-4.801,48.6-11.4,71.398-18.6C217.301,123.699,179.801,73.599,135.7,31.3 C70.901,66.099,21.599,128.2,5.7,202.299C53.401,211.899,112.301,210.7,176.201,197.8z'/%3E%3Cpath style='fill:%23FF7CB9;' d='M418.9,60.099l-4.2,16.5c-6.599,26.4-62.399,64.2-135.599,91.501l-3.301,1.199 c-6.299-11.7-12.9-23.401-19.799-34.501C230.2,92.199,199.3,52.899,164.801,18.1C193.001,7,223.9,0,256,0 c57.299,0,110.7,20.2,153.3,52.299C412.599,54.699,415.901,57.1,418.9,60.099z'/%3E%3Cpath style='fill:%23FF7CB9;' d='M287.5,268.299c-10.8,3.9-21.299,8.101-31.5,12.9C168.999,320.2,104.2,385,93.999,446.8 c-0.298,1.8-0.599,3.6-0.899,5.4C37,405.399,0,334.9,0,256c0-8.101,0.3-15.901,0.901-23.701c23.699,4.501,48.699,6.301,72.1,6.301 c40.8,0,79.499-5.4,109.199-11.4c25.501-5.099,50.101-11.7,73.801-19.2c1.8-0.599,3.6-1.199,5.4-1.8 C271,226.3,279.699,247,287.5,268.299z'/%3E%3Cpath style='fill:%23FF7CB9;' d='M330.399,499.9C307,507.1,281.8,512,256,512c-48.3,0-93.6-14.5-132.001-37.901 c-1.5-7.2-1.5-14.7-0.298-22.5C131.499,403.9,185.501,349.9,256,314.5c13.2-6.601,27.001-12.902,41.4-18.001 C317.8,360.7,329.2,429.399,330.399,499.9z'/%3E%3Cpath style='fill:%23FF637B;' d='M509.299,292.299C496.7,380.2,438.401,453.699,359.801,488.8C357.7,419.2,345.7,351.4,325.6,287.5 C392.8,268.9,456.501,271,509.299,292.299z'/%3E%3Cpath style='fill:%23FF637B;' d='M512,256v5.4c-57.299-21.301-125.2-22.2-196-2.1c-7.8-21.599-16.8-42.599-26.4-62.999 c49.2-18.6,141.301-61.201,154.2-112.5C485.501,129.099,512,189.699,512,256z'/%3E%3Cpath style='fill:%23FA5E97;' d='M287.5,268.299c-10.8,3.9-21.299,8.101-31.5,12.9v-73.2c1.8-0.599,3.6-1.199,5.4-1.8 C271,226.3,279.699,247,287.5,268.299z'/%3E%3Cpath style='fill:%23FA5E97;' d='M297.4,296.499c20.4,64.2,31.8,132.9,32.999,203.401C307,507.1,281.8,512,256,512V314.5 C269.2,307.899,283.001,301.599,297.4,296.499z'/%3E%3Cpath style='fill:%23FA5E97;' d='M275.799,169.3c-6.299-11.7-12.9-23.401-19.799-34.501V0c57.299,0,110.7,20.2,153.3,52.299 c3.3,2.401,6.601,4.801,9.6,7.8l-4.2,16.5c-6.599,26.4-62.399,64.2-135.599,91.501L275.799,169.3z'/%3E%3Cpath style='fill:%23FA5E97;' d='M509.299,292.299C496.7,380.2,438.401,453.699,359.801,488.8C357.7,419.2,345.7,351.4,325.6,287.5 C392.8,268.9,456.501,271,509.299,292.299z'/%3E%3Cpath style='fill:%23FA5E97;' d='M512,256v5.4c-57.299-21.301-125.2-22.2-196-2.1c-7.8-21.599-16.8-42.599-26.4-62.999 c49.2-18.6,141.301-61.201,154.2-112.5C485.501,129.099,512,189.699,512,256z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.github {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath style='fill:%235C6BC0;' d='M255.968,5.329C114.624,5.329,0,120.401,0,262.353c0,113.536,73.344,209.856,175.104,243.872 c12.8,2.368,17.472-5.568,17.472-12.384c0-6.112-0.224-22.272-0.352-43.712c-71.2,15.52-86.24-34.464-86.24-34.464 c-11.616-29.696-28.416-37.6-28.416-37.6c-23.264-15.936,1.728-15.616,1.728-15.616c25.696,1.824,39.2,26.496,39.2,26.496 c22.848,39.264,59.936,27.936,74.528,21.344c2.304-16.608,8.928-27.936,16.256-34.368c-56.832-6.496-116.608-28.544-116.608-127.008 c0-28.064,9.984-51.008,26.368-68.992c-2.656-6.496-11.424-32.64,2.496-68c0,0,21.504-6.912,70.4,26.336 c20.416-5.696,42.304-8.544,64.096-8.64c21.728,0.128,43.648,2.944,64.096,8.672c48.864-33.248,70.336-26.336,70.336-26.336 c13.952,35.392,5.184,61.504,2.56,68c16.416,17.984,26.304,40.928,26.304,68.992c0,98.72-59.84,120.448-116.864,126.816 c9.184,7.936,17.376,23.616,17.376,47.584c0,34.368-0.32,62.08-0.32,70.496c0,6.88,4.608,14.88,17.6,12.352 C438.72,472.145,512,375.857,512,262.353C512,120.401,397.376,5.329,255.968,5.329z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}


@keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 

@keyframes jump1 {
  0% { transform: translateY(0px);}
  100% { transform: translateY(-4px);}
  } 


  @keyframes shake1 {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -3px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 3px, 0);
    }
  }